<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>My DAPP</title>
</head>
<body>
    <div class="container">
        <h1>welcome to 113 dapp</h1>
        <H5>Please enter you name</H5>
        <form action="/main" method="post">
            <input type="text" name="q" placeholder="Enter your name">
            <input type="submit" value="Enter">
        </form>
    </div>
</body>